.header-nav
  .company-name
    font-family: montserrat-bbiot, sans-serif
    color: #fff
    display: inline-block
    vertical-align: top
    text-transform: uppercase
    .head
      font-size: 19px
      font-weight: bold
    .subhead
      font-size: 10px
      font-weight: normal
  ul
    display: inline-block
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
.navbar
  background-color: transparent
.navbar-item
  color: $light
  font-family: montserrat-bbiot, sans-serif
  img
    max-height: 2.40rem
a.navbar-item, a.navbar-link
  .is-active, &:hover
    color: $light
    background-color: $dark
a.navbar-item.red-colored, a.navbar-link.red-colored
  .is-active, &:hover
    color: $sand
    background-color: $red
li.active
  color: $light
  background-color: $dark
  .red-colored
    color: $sand
    background-color: $red


.navbar-brand
 a.navbar-item, a.navbar-link
    .is-active, &:hover
      color: $light
      background-color: transparent

.navbar-burger
  margin-left: auto
  background-color: $blue
  border-color: $blue
  .is-active
    border-color: transparent
  span
    background-color: $light
  &:hover
    background-color: $blue
.button.is-active, .button:active
    border-color: transparent
.navbar-menu
  background-color: transparent
.sticky-nav
  background-color: $gray
  z-index: 99
  .navbar
    min-height: 1.75rem
#owl-slider
  .item
    display: block
    width: 100%
    height: 500px
    position: relative
    img
      margin: auto
      transform: translate(0, -25%);
/* Center left text */
.center-left 
  position: absolute
  display: flex
  top: 0
  width: 100%

.header-slider, .slider-flex
  display: block
  margin: auto